html {
  background-color: black;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.login-halaman {
  background-color: black;
}

.button-search {
  margin-left: 5px;
  margin-top: -5px;
}

.form-search {
  padding: 50px 50px;
}
.spotify-card {
  background-color: #2b2b2b;
  color: white;
  padding: 30px 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
  display: inline-grid;
}
.title-card {
  font-size: 13px;
}
.spotify-card:hover {
  background-color: #383838;
}
